body {
    font-family: verdana;
    text-align: center;
    background: linear-gradient(to right, #ffd6e8, #cce6ff);
}

section {
    margin: 40px;
}
h1 {
    color: #3E1061; 
    font-size: 36px;
}
h2 {
    color: #A62447;
    font-size: 28px;
}
h3 {
    font-size: 28px;
}

#fortuneBox {
    border: 3px solid black;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    background-color: white;
}
#taskList {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    padding: 12px 20px;  
    margin: 8px;
    font-size: 16px;    
    border-radius: 8px;
	cursor: pointer;         
}

li {
    margin: 10px;
}